---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <p>
        <!-- sidebar2 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5312879989809936"
             data-ad-slot="8916848806"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-mastodon %}
          <li><a rel="me" href="https://mastodon.lol/@{{ site.social-mastodon }}" target="_blank" title="mastodon"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank" title="twitter"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank" title="facebook"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank" title="github"><i class="fa-brands fa-github"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank" title="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}" title="email"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
