---
layout: main
---
<article class="article-page">
  <div class="page-content">

    <div class="page-cover-image">
      <figure>
        {% if page.img %}
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% else %}
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : site.author-img-header}} alt="{{page.title}}">
        {% endif %}
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
<!--          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>-->
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>

      <div class="c-recent-post">
        <h4 class="c-recent__title">You might also enjoy</h4>
        <div class="c-recent__box">
          {% for post in site.related_posts limit:4 %}
          <div class="c-recent__item">
            {% if post.img %}
            <a class="c-recent__image" href="{{ post.url }}" style="background-image: url( {{"/assets/img/" | prepend: site.baseurl | append: post.img}})"></a>
            {% else %}
            <a class="c-recent__image" href="{{ post.url }}" style="background-image: url( {{"/assets/img/" | prepend: site.baseurl | append: site.author-img-header}})"></a>
            {% endif %}
            <div class="c-recent__footer">
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              <div class="c-recent__date">
                <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> <!-- /.c-recent-post -->

      {% include disqus.html %}
      </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
